
  .carousel-caption{
    margin-bottom: 10%;
    display: flex;
    gap: 5%;
  }
  img{
    opacity: 0.7;
    filter: alpha(opacity=30);
  }
  h1{
    text-transform: uppercase;
    color: black;
    font-weight: lighter;
    font-size: 3rem;
    letter-spacing: 10px;
  }
  .button-home{
    color: white;
    background-color: #00624f;
    border-color: none;
    margin-top: 5%;
    box-shadow: 5px 5px 20px black;
  }
  .button-home:hover{
    color: black;
    box-shadow: 5px 5px 20px rgb(59, 59, 59);
  }
  .location{
    display: flex;
    flex-direction: column;    
  }
  
  .map {
    width: 40%;
   
  }
  .details{
    width: 60%;
    margin:7%
  }
  .location-details{
    display: flex;
    align-items: center;
  }
  .location-details i{
    color:#00624f;
    font-size: 2.5rem;
    margin: 3%;
  }
  .divider {
    margin-right: 3%;
    border: none; 
    height: 3px; 
    background-color: rgba(0,98,79,255); 
  }
  .title-text{
    font-weight: bold;
  }
  h4{
    font: 30px Helvetica, Sans-Serif;
    color: #00624f;
  }
  @media (min-width: 769px) {
    .location {
      flex-direction: row;
    }
  }
  